@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  font-family: 'Rubik', sans-serif;
  color: #eaebed;
  background: #1e1e2e;
  min-height: 100vh;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.75em;
  background: #252437;
  padding: 2em;
  border-radius: 10px;
  max-width: 350px;
}

.container::before {
  position: absolute;
  content: '';
  inset: 20% -40px -100px -40px;
  background: #191929;
  z-index: -1;
  border-radius: 30px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: .75em;
}

.options label {
  display: flex;
  align-items: center;
  gap: .5em;
  cursor: pointer;
  -webkit-tap-highlight-color: #ffffff00;
}

.options label input {
  position: relative;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid #6f6f80;
  border-radius: 5px;
  transition: all .15s;
}

.options label input:checked {
  background: #716bf4;
  box-shadow: 0 0 0 2px #726bf450;
}

.options label input:checked:before {
  position: absolute;
  content: '✔';
  font-size: 1rem;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.alert {
  padding: 1em;
  background: #1e1e2e; 
  border-radius: 5px;
}

.alert p {
  color: #6f6f80;
  font-size: .75rem;
}

.alert p a {
  color: #5f5dcd;
}

.email {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.container button {
  background: #716bf4;
  color: #eaebed;
  padding: 1em;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
  transition: all .2s;
}

.container button:hover {
  box-shadow: 0 0 10px #716bf4;
}

.format {
  display: flex;
  flex-direction: column;
  gap: .75em;
}

.format label {
  display: flex;
  align-items: center;
  gap: .5em;
  cursor: pointer;
  -webkit-tap-highlight-color: #ffffff00;
}

.format label input {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #252437;
  border: 1px solid #6f6f80;
  border-radius: 50%;
  transition: all .3s;
}

.format label input:checked {
  background: radial-gradient(#eaebed 30%, #716bf4 30%);
  box-shadow: 0 0 10px #716bf4;
}