@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #bbccef, #dcd3ed, #bbccef);
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 100px 1fr;
  color: #333;
  background: #ffffff;
  border-radius: 30px;
  padding: 3em 4em;
  isolation: isolate;
  box-shadow: 0 0 10px rgba(0 0 0 / 0.25);
  overflow: hidden;
}

.icon img {
  width: 80px;
  mix-blend-mode: multiply;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.content h1 {
  font-size: 1.75rem;
  font-weight: 400;
}

.content > p {
  color: #555;
  font-size: .85rem;
  width: 30ch;
  margin-top: -30px;
}

.donation-amt {
  display: flex;
  align-items: center;
  gap: 1em;
}

input[type="radio"] {
  appearance: none;
}

.amt {
  background: #f6f8fd;
  color: #cacdd4;
  padding: 1em 1.25em;
  border-radius: 5px;
  border: 1px solid #cacdd4;
  cursor: pointer;
  transition: all .3s;
}

.amt:hover, .amt:has(input:checked) {
  background: #fff;
  color: #333;
  border: 2px solid #7d98eb;
  transform: scale(1.1);
}

.form-control {
  display: flex;
  gap: .5em;
  align-items: center;
  background: #f6f8fd;
  border-radius: 5px;
}

.form-control span {
  color: #cacdd4;
  padding: .5em .5em .5em 1em;
}

.form-control input {
  font-family: inherit;
  height: 50px;
  width: 100px;
  border: 2px solid #f6f8fd;
  padding-left: 15px;
  caret-color: #ec1b6d;
}

.form-control input:focus-visible {
  outline: none;
}

::placeholder {
  padding-left: 5px;
}

button {
  color: #ffffff;
  font-family: inherit;
  background: #ec1b6d;
  text-transform: uppercase;
  padding: 1em 1.5em;
  border-radius: 10px;
  border: none;
  width: fit-content;
  cursor: pointer;
  transition: all .3s;
}

button:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px #ec1b6d;
}

button:active {
  transform: translateY(5px);
}

.close {
  display: grid;
  place-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  background: #f6f8fd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s;
}

.close span {
  color: #cacdd4;
  transform: all .3s;
}

.close:hover {
  background: #ec1b6d;
  transform: scale(1.1);
}

.close:hover span {
  color: #fff;
}

.container::before {
    content: '';
    position: absolute;
    top: -100px;
    left: -180px;
    right: 70%;
    bottom: 50%;
    border-radius: 50%;
    background: #fcf5ea;
    z-index: -1;
}

.hide {
  display: none;
}

.popup {
  color: #fff;
  background: #ec1b6d;
  padding: .75em 1.75em;
  border-radius: 20px;
  animation: scale-up 1s;
}

@keyframes scale-up {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (width <= 450px) {
  .container {
    grid-template-columns: 1fr;
    align-items: center;
  }

  .donation-amt {
    flex-wrap: wrap;
  }

  .amt {
    flex: 1;
  }
}