@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
}

h1 {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: #4f4f4f;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 30px #ffbf00;
}

.switch {
  position: relative;
  display: block;
  width: 150px;
  height: 60px;
  border-radius: 100px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  inset: 0;
  background: #ccc;
  border-radius: 100px;
  transition: all .3s;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
}

.icon {
  position: absolute;
  top: 14px;
  left: 15px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  transition: all .3s;
}

.icon span {
  padding: .2em;
  background: #fff;
  color: #ffbf00;
  border-radius: 50%;
  outline: 10px solid #4f4f4f;
}

input:checked + .slider {
  background: grey;
}

input:checked + .slider .icon {
  transform: translateX(87px);
}