@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  font-family: 'Rubik', sans-serif;
  color: #fff;
  background: #181a29;
  min-height: 100vh;
}

.container {
  position: relative;
  padding: 2em;
  background: #1e2137;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.container::before {
  position: absolute;
  content: '';
  inset: -10px;
  background: #161828;
  z-index: -1;
  border-radius: inherit;
  transform: translateY(20px);
}

.content {
  display: flex;
  gap: 1em;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  outline: 6px solid #161828;
  transition: all .3s;
  cursor: pointer;
  filter: brightness(75%);
}

.image img:hover {
  outline-offset: 6px;
  filter: brightness(100%);
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.detail textarea {
  width: 300px;
  height: 120px;
  resize: none;
  background: #1e2137;
  color: #fff;
  font-size: 1.1rem;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid #161828;
  padding: .5em;
  caret-color: #1f88dd;
}

.detail textarea:focus-visible {
  outline: none;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.actions span {
  font-size: 1.35rem;
  color: #474968;
  transition: all .3s;
  cursor: pointer;
}

.actions span:hover {
  scale: 1.1;
  color: #1f88dd;
}

.actions .postBtn {
  margin-left: auto;
  background: #1f88dd;
  color: #fff;
  font-family: inherit;
  border-radius: 100px;
  padding: .75em 1.5em;
  border: none;
  transition: all .3s;
  cursor: pointer;
}

.actions .postBtn:hover {
  background: #209bff;
}

::placeholder {
  font-size: 1.1rem;
  font-family: inherit;
  color: #474968;
  padding-left: 5px;
}

@media (width <= 450px) {

  .container {
    width: 90vw;
    margin: 0 1em;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .detail textarea {
    width: 100%;
  }
  
}

