@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap'); */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content:  center;
  font-family: 'Rubik', sans-serif;
  background: #cad1dd;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 320px;
  width: 90vw;
  max-width: 1280px;
  border: 5px solid #4170a3;
  border-radius: 10px;
  color: #333;
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0 0 0 / .25);
}

.image {
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #c7d1db 30%, transparent);
}

.image .topic {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: absolute;
  top: 30px;
  left: 0;
  /* bottom: 10%; */
  background: #edf1f4;
  height: fit-content;
  width: 100%;
  max-width: 500px;
  padding: 2.5em 3em;
  border-radius: 0 10px 10px 0;
  z-index: 1;
}

.topic h3 {
  color: #4d96ec;
  font-size: 2rem;
}

.topic p {
  font-size: .85rem;
  line-height: 1.5;
}

.image img {
  height: 100%;
  width: 100%;
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2em 1.5em;
  gap: 1.5em;
}

.column h4 {
  color: #4d96ec;
  margin-top: 25px;
}

.column .footer {
  margin-top: auto;
}

.account {
  display: flex;
  align-items: center;
  gap: .75em;
}

.account .icon {
  display: grid;
  place-content: center;
  border: 2px solid #cacaca;
  padding: .7em;
  border-radius: 50%;
}

.account .details p:nth-child(2) {
  font-size: .8rem;
}

.account .details span {
  font-size: .85rem;
  color: #cad1dd;
}

.account > span {
  margin-left: auto;
}

.add {
  display: flex;
  align-items: center;
  gap: 1.25em;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.footer p {
  font-size: .85rem;
  text-align: center;
}

.footer .links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer .links p {
  color: #4d96ec;
  font-size: .75rem;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #333;
}

@media (width <= 1000px) {
    .container {
        grid-template-columns: 1fr;
    }
}

@media (width <= 600px) {
  .image .topic {
      top: 0;
      right: 0;
  }
}

