@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  background: #332a62;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 70vw;
  padding: 6em 4em;
  background: repeating-radial-gradient(ellipse at top right, #6359a3,#574280);
  transition: all .3s;
  border-radius: 5px;
}

.container::before {
  position: absolute;
  content: '';
  inset: -20px 40px -20px 40px;
  background: #36306d;
  z-index: -1;
  border-radius: inherit;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.heading button {
  width: fit-content;
  color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  padding: .85em 1.75em;
  border-radius: 10px;
  background: #634e89;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  transition: all .3s;
}

.heading button:hover {
  color: #634e89;
  background: #fff;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.stat {
  display: grid;
  place-content: center;
  padding: 1em;
}

.stat span {
  font-weight: 500;
  font-size: 3rem;
  transition: all .3s;
  cursor: pointer;
}

.stat p {
  color: #a497c5;
  text-transform: uppercase;
  font-size: .65rem;
  margin-top: -10px;
  margin-bottom: 15px;
}

.stat:first-child {
  border-right: 2px solid #685c9e;
  border-bottom: 2px solid #685c9e;
}

.stat:nth-child(2) {
  border-bottom: 2px solid #685c9e;
}

.stat:nth-child(3) {
  border-right: 2px solid #685c9e;
}

.up:hover {
  color: rgb(13, 158, 13);
  transform: translateY(-10px);
  scale: 1.15;
}

.down:hover {
  color: rgb(200, 38, 38);
  transform: translateY(-10px);
  scale: 1.15;
}